.imagePrincipaleAporose{
    margin: 15px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}
/* .imagePrincipaleAporose img{
    width: 100%;
    border-radius: 10px;
} */