.imagePrincipaleHome {
  margin: 15px 0;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.img-overlay {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
}
.imagePrincipaleHome h2 {
  position: absolute;
  font-size: 48px;
  color: white;
  font-weight: 500;
}

/* ----list LOgement ---- */
.shopList {
  background-color: #f7f7f7;
  border-radius: 25px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  flex-direction: column;
  justify-items: center;
  padding: 20px 0;
}

div .listeProprietes {
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%); */
  border-radius: 10px;
  display: grid;
  width: 90%;
  max-height: 340px;
  margin: 15px 0;
}
.listeProprietes a {
  text-decoration: none;
  display: grid;
}

.listeProprietes img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.textListeProprietes {
  display: grid;
  position: absolute;
  align-self: end;
  text-align: left;
  padding: 10px;
  width: 15%;
  font-size: 18px;
  color: white;
}

/* mobile Pixel-5; samsung S8+ */
@media (max-width: 768px) {
  .imagePrincipaleHome {
    width: 100%;
    height: 111px;
    border-radius: 10px;
  }
  .img-overlay {
    border-radius: 10px;
  }
  .imagePrincipaleHome h2 {
    text-align: left;
    margin: 0 15px;
    font-size: 24px;
  }
  .shopList {
    display: grid;
    grid-template-columns: 1fr;
  }
  .textListeProprietes {
    width: 50%;
    color: white;
  }
  .listeProprietes img {
    height: 255px;
  }
}

/* ipad Mini, Pro7; ect */
@media (min-width: 768px) and (max-width: 922px) {
  .imagePrincipaleHome {
    border-radius: 10px;
  }
  .imagePrincipaleHome h2 {
    text-align: left;
    margin: 0 15px;
    font-size: 24px;
  }
  .img-overlay {
    border-radius: 10px;
  }
  .shopList {
    display: grid;
    grid-template-columns: 1fr;
  }
  .listeProprietes img {
    height: 340px;
  }
  .textListeProprietes {
    width: 30%;
    color: white;
  }
}
