footer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    height: 150px;
    text-align: center;
    padding: 25px 0;
    width: 100%;
    margin-top: 100px;
}

footer img{
  margin-top: 25px;
  align-content: end;
  align-self: end;

}

p{
    font-size: 24px;
    color: antiquewhite;
    margin-top: 15px;
}

@media (max-width: 460px) {
  p{
    font-size: 12px;
}

  }