.logementBody {
  height: 50vh;
}

.logementImage {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}
.logementContainer {
  display: grid;
  grid-template-areas:
    'logementTitle  hostnameContanair'
    'logementLocation hostnameContanair'
    'tagsList  rating';
}
.logementTitle {
  grid-area: logementTitle;
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
}
.logementLocation {
  grid-area: logementLocation;
  color: #ff6060;
  font-weight: 500;
  margin: 1px 1px;
  font-size: 18px;
}
.tags {
  display: inline;
  background-color: #ff6060;
  border-radius: 10px;
  margin-right: 10px;
  padding: 4px 10px;
  font-size: 14px;
  color: white;
}
.tagsList {
  grid-area: tagsList;
  margin: 27px 0;
}
.hostnameContanair {
  grid-area: hostnameContanair;
  display: grid;
  justify-content: end;
  justify-self: end;
  grid-template-columns: 0.8fr 64px;
}
.hostName {
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
  padding: 7px 7px;
  text-align: right;
}
.hostnameImage {
  justify-self: end;
}
.hostnameImage img {
  border-radius: 50px;
  width: 64px;
}
.rating {
  grid-area: rating;
  font-size: 2.5em;
  color: #ff6060;
  text-align: right;
}
/* https://www.toptal.com/designers/htmlarrows/symbols/black-star/ */
.rating1::before {
  content: '★';
}
.rating1::after {
  content: '★★★★';
  color: gray;
}
.rating2::before {
  content: '★★';
}
.rating2::after {
  content: '★★★';
  color: gray;
}
.rating3::before {
  content: '★★★';
}
.rating3::after {
  content: '★★';
  color: gray;
}
.rating4::before {
  content: '★★★★';
}
.rating4::after {
  content: '★';
  color: gray;
}
.rating5::before {
  content: '★★★★★';
}

/* ---------------------------------------------------------------------------------- */
/* -----------------------Mobile ------------------------------------------- */
/* 1 colomn for moblie version */

@media (max-width: 768px) {
  .logementContainer {
    display: grid;
    grid-template-areas:
      'logementTitle  logementTitle'
      'logementLocation logementLocation'
      'tagsList tagsList'
      'rating hostnameContanair';
  }

  .logementTitle {
    grid-area: logementTitle;
    color: rgba(243, 43, 43, 0.753);
    /* border: 1px solid white; */
    font-size: 18px;
    font-weight: 600;
  }
  .logementLocation {
    grid-area: logementLocation;
    color: rgba(243, 43, 43, 0.753);
    font-weight: 500;
    margin: 2px 0;
    font-size: 14px;
  }
  .tags {
    display: inline;
    background-color: #ff6060;
    border-radius: 5px;
    font-size: 10px;
  }
  .tagsList {
    grid-area: tagsList;
    margin: 10px 0 20px 0;
  }
  .hostnameContanair {
    grid-area: hostnameContanair;
    display: grid;
    grid-template-columns: 0.8fr 32px;
  }
  .hostName {
    font-size: 12px;
    padding: 0 7px;
  }
  .hostnameImage {
    justify-self: end;
  }
  .hostnameImage img {
    border-radius: 50px;
    width: 32px;
    height: 32px;
  }
  .rating {
    grid-area: rating;
    font-size: 18px;
    color: #ff6060;
    text-align: left;
    display: grid;
    align-items: center;
  }
  /* ------------------for Collapsible------------------------ */
  .collapsibleForLogement {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* ------------------------------------------ */
/* ipad Mini, Pro7; ect */
@media (min-width: 768px) and (max-width: 922px) {
  .hostnameContanair {
    margin-top: 10px;
  }
}
