.slider {
position: relative;
margin: 20px 0 40px 0;
/* border: 1px solid red; */
display: grid;
grid-template-areas: "slide";
grid-template-columns: 100% ;
align-items: center;
justify-content: space-between;
}

.imageSlider{
  height: 400px;
  width: 100%;
  border-radius: 10px;
}
.slide{
  grid-area: slide;
  opacity: 0;
  transition-duration:  1s ease; 
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.0);
}


.arrowPrevious{
  cursor: pointer;
  position: absolute;
  left:25px;
  top:40%;
  z-index: 1;
  font-size: 38px;
  color: white;
}
.arrowNext  {
  cursor: pointer;
  position: absolute;
  top:40%;
  right: 25px;
  z-index: 1;
  font-size: 38px;
  color: white;
}

.indexCounter{
  position: absolute;
  left: 49%;
  top: 86%;
  color: white;
  font-size: 18px;
}


/* for mobile  */
@media (max-width: 460px) {
  .imageSlider{
    height: 200px;
  }
  .indexCounter{
    display: none;
  }
  
}